<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voting Systems!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md justify-content-between">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-primary mx-auto d-block order-0 order-md-1 w-25">VoteSys!</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="navbar nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/analyze/plurality">Plurality</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/bordacount">Borda Count</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/instantrunoff">Instant Runoff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/condorcet">Condorcet</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/approval">Approval</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="text-center">
        <h2>(Top 2) Approval Voting Method</h2>
    </div>
    <div class="container-md text-center">
        <p>Using a Top 2 Approval method on the uploaded file, <span class="winner">{{ winner }}</span> is the winner!</div>
    <div class="container-sm text-center" style="width:50%;">
        {{ table|safe }}
    </div>
    <div class="container-md text-center">
        <h4>About Approval Votes</h4>
        <p>
            The idea behind approval rating is that voters indicate which candidates they approve of and the candidate who is approved of most wins.
            Because the input file is a preference schedule, this is a Top 2 Approval Method because it assumes that the voters approve of their top 2
            choices equally. Practically, this system can be thought of as a sort of borda count where the top 2 choices of each voter are given equal points.
            Like a Borda Count, Approval Votes also run the risk of violating the Majority Critereon; it is possible for a candidate with the most first-place
            votes to lose because first and second place votes are weighted equally.
        </p>
    </div>

    <footer class="text-center fixed-bottom page-footer font-small blue">
        <p style="font-size: 80%">© 2020 Copyright
          <a href="https://github.com/shreysahgal/">Shrey Sahgal</a></p>
      </footer>
</body>
</html>