<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voting Systems!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md justify-content-between">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-primary mx-auto d-block order-0 order-md-1 w-25">VoteSys!</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="navbar nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/analyze/plurality">Plurality</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/bordacount">Borda Count</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/instantrunoff">Instant Runoff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/condorcet">Condorcet</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/approval">Approval</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="text-center">
        <h2>Borda Count Voting Method</h2>
    </div>
    <div class="container-md text-center">
        <p>Using the Borda Count Method on the uploaded file yields <span class="winner">{{ winner }}</span> as the winner!</div>
    <div class="container-sm text-center" style="width:50%;">
        {{ table|safe }}
    </div>
    <div class="container-md text-center">
        <h4>About the Borda Count</h4>
        <p>The Borda Count method gives candidates points based on what rank they were on each voters' preference ballot. The higher 
            up a candidate is on the ballot, the more points they get. For example if there are 3 candidates running for president and 
            Stacy gets 10 first-place votes, 3 second-place votes, and 5 third-place votes, she will, 10*3 + 3*2 + 5*1 = 41 Borda count points.
            Once the total points for each candidate is determined, the candidate with the most points wins. There is a potential problem with this method, though:
            it is possible for a candidate with the majority of first-place votes to lose because a different candidate was in general higher up on voters' ballots.
            This violates the Majority Critereon which states that if a candidate receives the majority of first-place votes, they should win the election. </p>
    </div>

    <footer class="text-center fixed-bottom page-footer font-small blue">
        <p style="font-size: 80%">© 2020 Copyright
          <a href="https://github.com/shreysahgal/">Shrey Sahgal</a></p>
      </footer>
</body>
</html>