<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voting Systems!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md justify-content-between">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-primary mx-auto d-block order-0 order-md-1 w-25">VoteSys!</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="navbar nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/analyze/plurality">Plurality</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/bordacount">Borda Count</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/instantrunoff">Instant Runoff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/condorcet">Condorcet</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/approval">Approval</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="text-center">
        <h2>Condorcet Voting Method</h2>
    </div>
    <div class="container-md text-center">
        <p>Using the Condorcet method on the uploaded file, <span class="winner">{{ winner }}</span> is the winner!</div>
    <div class="container-sm text-center" style="width:50%;">
        {{ table|safe }}
    </div>
    <div class="container-md text-center">
        <h4>About the Condorcet Method</h4>
        <p>
            The Condorcet method does pairwise comparisons of the candidates and compares them head-to-head. If candidate A wins the matchup over
            candidate B, A gets 1 head-to-head point. Similarly, if B wins, B gets 1 head-to-head point. If it is a tie, A and B both get 0.5 points.
            Once each candidate is compared to each other candidate, the candidate with the most points wins. The winner using the Condorcet method is
            different than what is referred to as the "Condorcet Winner": a candidate is the Condorcet Winner if and only if they win every head-to-head
            match-up with each other candidate.
        </p>
    </div>

    <footer class="text-center fixed-bottom page-footer font-small blue">
        <p style="font-size: 80%">© 2020 Copyright
          <a href="https://github.com/shreysahgal/">Shrey Sahgal</a></p>
      </footer>
</body>
</html>