<!-- <!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

 -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voting Systems!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
    {{ table }}
</body>
</html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voting Systems!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md justify-content-between">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-primary mx-auto d-block order-0 order-md-1 w-25">VoteSys!</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="navbar nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/analyze/plurality">Plurality</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/bordacount">Borda Count</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/instantrunoff">Instant Runoff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/condorcet">Condorcet</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/approval">Approval</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <br>
    <div class="text-center">
        <h2>Welcome to VoteSys!</h2>
    </div>
    <div class="container-md text-center">
        <h5>Upload a file to get started.</h5>  
    </div>
    <br>
    <div class="container" style="width:50%;">
        <form method='POST' enctype=multipart/form-data>
            <div class="row">
            <div class="custom-file">
                <input type="file" name="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
                &nbsp;
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <p>Note: File must be a .csv</p>
                </div>

            </div>
        </form>
    </div>

    <footer class="text-center fixed-bottom page-footer font-small blue">
        <p style="font-size: 80%">© 2020 Copyright
          <a href="https://github.com/shreysahgal/">Shrey Sahgal</a></p>
      </footer>
</body>
</html>