<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voting Systems!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md justify-content-between">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-primary mx-auto d-block order-0 order-md-1 w-25">VoteSys!</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="navbar nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/analyze/plurality">Plurality</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/bordacount">Borda Count</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/instantrunoff">Instant Runoff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/condorcet">Condorcet</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/approval">Approval</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="text-center">
        <h2>Instant Runoff Voting Method</h2>
    </div>
    <div class="container-md text-center">
        <p>Using the Instant Runoff Method on the uploaded file yields <span class="winner">{{ winner }}</span> as the winner!</div>
    <div class="container-sm text-center" style="width:50%;">
        {{ table|safe }}
    </div>
    <div class="container-md text-center">
        <h4>About the Instant Runoff Method</h4>
        <p>The instant runoff method is a sort of extensions of the plurality method with takes advantage of the fact that the given rankings are linear,
            that is to say that if A is preferred over B and B is preferred over C, A is preferred over C. In this method instead of determining a plurality winner,
            the plularity loser is determined (the candidate with the fewest first-place votes) and subsequently removed from the ballot. Then all of the votes are shifted up
            (if B was a voter's first choice and A was a voter's second choice and B was removed from the ballot, A would now be the voter's first choice) and the process is repeated until
            a candidate has a majority.
        </p>
    </div>

    <footer class="text-center page-footer font-small blue">
        <p style="font-size: 80%">© 2020 Copyright
          <a href="https://github.com/shreysahgal/">Shrey Sahgal</a></p>
      </footer>
</body>
</html>