<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Voting Systems!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body>
    <nav class="navbar navbar-light bg-light navbar-expand-md justify-content-between">
        <div class="container-fluid">
            <a href="/" class="navbar-brand text-primary mx-auto d-block order-0 order-md-1 w-25">VoteSys!</a>
            <div class="navbar-collapse collapse dual-nav w-50 order-2">
                <ul class="navbar nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/analyze/plurality">Plurality</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/bordacount">Borda Count</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/instantrunoff">Instant Runoff</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/condorcet">Condorcet</a></li>
                    <li class="nav-item"><a class="nav-link" href="/analyze/approval">Approval</a></li>
                </ul>
            </div>
            
        </div>
    </nav>
    <div class="text-center">
        <h2>Plurality Voting Method</h2>
    </div>
    <div class="container-md text-center">
        <p>Using the Plurality Voting Method on the uploaded file yields <span class="winner">{{ winner }}</span> as the winner!</div>
    <div class="container-sm text-center" style="width:50%;">
        {{ table|safe }}
    </div>
    <div class="container-md text-center">
        <h4>About the Plurality Method</h4>
        <p>The plurality method of voting simply counts how many first-place votes each candidate receives and the winner is the candidate with the most first-place votes. 
            This voting method is very common in the United States. Ties are possible with this method and would have to be determined using a runoff vote. This system is 
            sometimes confused with the majority voting system but the two are different: in a majority voting system, a candidate only wins if they recieve more than half
            of the total votes cast whereas in a plurality system, the winner doesn't necessarily have more than have of the votes, just more than the other candidates. When
            Note that when there are only 2 candidates on the ballot, the majority and the plurality are equal.</p>
    </div>

    <footer class="text-center fixed-bottom page-footer font-small blue">
        <p style="font-size: 80%">© 2020 Copyright
          <a href="https://github.com/shreysahgal/">Shrey Sahgal</a></p>
      </footer>
</body>
</html>